<div class="roll-dialog">
	<div class="dialog-option edges-selection flexrow grid grid-2col">
		<label class="edges-label"><b>Select Edge</b></label>
		<select name="edgeSelection">
			{{selectOptions edges localize=true}}
		</select>
	</div>
	<div class="dialog-option skills-selection flexrow grid grid-2col">
		<label class="skills-label"><b>Select Skill/Language</b></label>
		<select name="skillSelection">
			<optgroup data="skills" label="Skills">
			{{selectOptions skills localize=true}}
			</optgroup>
			<optgroup data="languages" label="Languages">
			{{selectOptions languages localize=true}}
			</optgroup>
		</select>
	</div>
	<div class="dialog-option advantage-input flexrow grid grid-2col">
		<label class="advantage-label justify-left"><b>Enter Advantage (0-2)</b></label>
		<input class="advantage-value" name="advantage" type="Number" value="0" min="0" max="2"></input>
	</div>
	<div class="dialog-option cut-input flexrow grid grid-2col">
		<label class="cut-label"><b>Enter Cut</b></label>
		<input class="cut-value justify-left" name="cut" type="Number" value="0" min="0"></input>
	</div>
</div>
