<div class="roll-dialogue grid grid-2col">
	<div class="edges-selection flexrow grid-span-2">
		<label class="edges-label"><b>Select Edge<b></label>
		<select name="edgeSelection">
			{{selectOptions edges localize=true}}
		</select>
	</div>
	<div class="skills-selection flexrow grid-span-2">
		<label class="skills-label"><b>Select Skill/Language</b></label>
		<select name="skillSelection">
			<optgroup data="skills" label="Skills">
			{{selectOptions skills localize=true}}
			</optgroup>
			<optgroup data="languages" label="Languages">
			{{selectOptions languages localize=true}}
			</optgroup>
		</select>
	</div>
	<div class="advantage-input flexrow grid-span-2">
		<label class="advantage-label"><b>Enter Advantage</b></label>
		<input class="advantage-value" name="advantage" type="range" value="0" min="0" max="2"></input>
	</div>
	<div class="cut-input flexrow grid-span-2">
		<label class="cut-label"><b>Enter Cut</b></label>
		<input class="cut-value" name="cut" type="Number" value="0" min="0"></input>
	</div>
</div>
